<template>
  <table class="table" v-if="data">
    <thead>
      <tr>
        <th class="center-align">Operação</th>
        <th class="center-align">Resposta</th>
        <th class="center-align">Acerto</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="(log, idx) in data" :key="idx">
        <td class="center-align">{{ log.operation }}</td>
        <td class="center-align">{{ log.answer }}</td>
        <td class="center-align">
            <i class="small material-icons green" v-if="log.isCorrect">check</i>
            <i class="small material-icons red" v-else>clear</i>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'last-answers',

  props: {
    logs: {
      required: false,
      type: Array
    }
  },

  computed: {
    ...mapGetters({
      operationsLog: 'singlePlayer/operationsLog'
    }),

    data () {
      if (this.logs && this.logs.length) return this.logs

      return this.operationsLog
    }
  }
}
</script>
