<template>
  <div class="operation">
    <div class="row">
       <div class="col s12">
        <p class="text-heading">{{ obj.operation }} = <span class="blinking">?</span></p>
      </div>

      <div class="col s12 m6 l3 answer_container"
        v-for="(answer, idx) in obj.alternatives" :key="idx"
        v-on:click="clickAnswer">
        <span class="answer_container__answer waves-effect waves-light ">{{ answer }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'operation',
  props: {
    obj: {
      type: Object,
      required: true
    }
  },
  methods: {
    clickAnswer (e) {
      let value = e.target.innerText
      this.$emit('check-answer', value)
    }
  }
}
</script>

<style>
.answer_container {
  padding: 50px;
}

.answer_container__answer {
  border: 3px solid rgba(65, 60, 60, 0.3);
  font-size: 3em;
  display: block;
  margin: 0.1em;
}

.blinking {
  -webkit-animation: blink 0.8s ease-out infinite;
          animation: blink 0.8s ease-out infinite;
  display: inline-block;
}

@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

</style>