<template>
  <div class="row">
    <div class="col s12 center-align">
      <table class="table highlight centered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Participants</th>
            <th>Created at</th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="(room, index) in rooms" :key="index">
            <td>{{ index }}</td>
            <td>-</td>
            <td>{{ room.createdAt.toDate() }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'rooms',

  data () {
    return {}
  },

  created () {
    this.$store.state.db.collection('rooms').onSnapshot(rooms => {
      if (rooms && rooms.docs) {
        rooms.docs.forEach(room => this.$store.commit('rooms/ADD_ROOM', room))
      }
    })
  },

  computed: {
    ...mapGetters({
      rooms: 'rooms/listRooms'
    })
  }
}
</script>