<template>
  <div class="row">
    <div class="col s2">
      <h5 @click="$router.back()" class="text-heading">
        <i class="small material-icons">arrow_back</i>
      </h5>
    </div>
    <div class="col s8 center-align">
      <h5 class="text-heading">Histórico</h5>
    </div>

    <div class="col s12 center-align">
      <last-answers :logs="history"></last-answers>

      <br />
      <button class="btn" @click="prevHistory" v-if="offset > 0" :disabled="loading">Anterior</button>
      <button class="btn" @click="nextHistory" v-if="showNextButton" :disabled="loading">Próximo</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import LastAnswers from '@/components/LastAnswers'

export default {
  name: 'history',

  components: {
    LastAnswers
  },

  data () {
    return {
      historyParams: {
        limit: 5
      },
      offset: 0,
      loading: false
    }
  },

  computed: {
    ...mapGetters({
      history: 'userData/history',
      historyLength: 'userData/historyLength',
      showNextButton: 'userData/showNextButton'
    })
  },

  created () {
    this.$store.dispatch('userData/FETCH_HISTORY', this.historyParams)
  },

  watch: {
    history (value) {
      this.loading = false
    }
  },

  methods: {
    nextHistory () {
      this.offset++
      this.loading = true

      let params = Object.assign({}, this.historyParams, {next: true})
      this.$store.dispatch('userData/FETCH_HISTORY', params)
    },

    prevHistory () {
      this.offset--
      this.loading = true

      let params = Object.assign({}, this.historyParams, {prev: true})
      this.$store.dispatch('userData/FETCH_HISTORY', params)
    }
  }
}
</script>

