<template>
  <div class="row valign-wrapper">
    <div class="col s12 center-align">
      <img src="/static/img/logo/saeLab_branca.png" alt="SAELab" class="responsive-img" />

      <h5 class="flow-text">Selecione o modo de jogo</h5>
      <ul>
        <li>
          <router-link :to="{name: 'single-player'}" class="text-heading">Um jogador</router-link>
        </li>
        <!-- <li> -->
          <!-- <router-link :to="{name: 'multiplayer'}" class="text-heading">Multiplayer</router-link> -->
        <!-- </li> -->
        <li v-if="userCredentials">
          <router-link :to="{name: 'history'}" class="text-heading">Histórico</router-link>
        </li>
        <li v-if="!userCredentials && !loginInProgress">
          <login-btn vendor="google" @click.native="loginGoogle">Login com o Google</login-btn>
        </li>
        <li v-else-if="!userCredentials && loginInProgress">
          <i class="small material-icons fa-spin">autorenew</i>
        </li>
        <li v-else>
          <login-btn vendor="google" @click.native="logoutGoogle">Sair do Google</login-btn>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import 'firebase/auth'
import LoginMixin from '@/mixins/LoginMixin'

export default {
  name: 'home',

  mixins: [LoginMixin],

  mounted () {
    setTimeout(() => {
      this.$store.dispatch('app/CHECK_LOGIN')
    }, 10000)
  }
}
</script>