<template>
  <div class="row">
    <div class="col s2 valign-wrapper">
      <h5 @click="$router.back()">
        <i class="small material-icons">arrow_back</i>
      </h5>
    </div>
    <div class="col s8 center-align">
      <h5>Multiplayer</h5>
    </div>

    <div class="col s12">
      <rooms />
    </div>
  </div>
</template>

<script>
import Rooms from '@/components/Rooms'

export default {
  name: 'multiplayer',
  components: {
    Rooms
  }
}
</script>

