<template>
  <div class="row">
    <div class="col s2">
      <h5 @click="$router.back()" class="text-heading">
        <i class="small material-icons">arrow_back</i>
      </h5>
    </div>
    <div class="col s8 center-align">
      <h5 class="text-heading">Um jogador</h5>
    </div>

    <div class="col s12 center-align">
      <operation v-if="operation" :obj="operation" v-on:check-answer="checkAnswer"/>

      <p class="text-heading">Acertos: {{ corrects }}</p>

      <last-answers></last-answers>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Operation from '@/components/Operation'
import LastAnswers from '@/components/LastAnswers'

export default {
  name: 'single-player',

  components: {
    Operation,
    LastAnswers
  },

  computed: {
    ...mapGetters({
      operation: 'singlePlayer/currentOperation',
      corrects: 'singlePlayer/corrects'
    })
  },

  created () {
    if (!this.operation) {
      this.$store.dispatch('singlePlayer/MAKE_OPERATION')
    }
  },

  methods: {
    checkAnswer (e) {
      let isCorrect = this.operation.correctAnswer === parseInt(e, 10)

      if (isCorrect) this.$store.commit('singlePlayer/INCREMENT_CORRECT')

      let operationLog = {
        startedAt: this.operation.createdAt,
        operation: this.operation.operation,
        answer: e,
        isCorrect
      }

      this.$store.dispatch('singlePlayer/ADD_OPERATION_LOG', operationLog)
      this.$store.dispatch('singlePlayer/MAKE_OPERATION')
    }
  }
}
</script>

