<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',

  beforeMount () {
    /* global M */
    M.AutoInit()
  }
}
</script>

<style lang="scss" src="@/assets/scss/app.scss"></style>
