@import "../../../node_modules/materialize-css/sass/materialize.scss";
@import "./fonts.scss";

$HEADING_COLOR_PRIMARY: #FFEF1E;
$HEADING_COLOR_SECONDARY: #FFC818;

body {
    background-color: #009fe3;
    color: white;
}

.valign-wrapper {
    min-height: calc(100vh - 64px);
}

a {
    :hover {
        color: lighten($color: $HEADING_COLOR_PRIMARY, $amount: 10);
    }
}

.text-heading {
    color: $HEADING_COLOR_PRIMARY;
    text-shadow: 0.06em 0.06em rgba(0, 0, 0, 0.5);
    font-size: 3em;
    // font-family: 'Bangers';
}

p.text-heading {
    margin: 0.3em;
}

@media #{$small-and-down} {
    .text-heading { 
        font-size: 2.3em;
    }
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
  }
  .fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
  }
  @-webkit-keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }
  @keyframes fa-spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
    }
  }